.__why_us .__subtitle {
    font-size: 14px;
    color: #ffa903;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 5px;
}

.__why_us .__title {
    margin-bottom: 0;
    font-family: 'Barlow', sans-serif;
    color: #21283f;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
}

.__service-item {
    background: #fff;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 0px 1px 16px 0px rgb(139 139 139 / 16%);
    margin-bottom: 30px;
}

.__service-icon {
    margin-bottom: 35px;
    min-height: 64px;
}

.__service-content span {
    color: #ca96b1;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
}

.__service-content h2 {
    color: #571336;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600;
}

.__service-content .__service-list ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #606575;
    margin-bottom: 15px;
    font-size: 16px;
}

.__service-item:hover .__service-icon img {
    animation: rotateY-anim 0.5s linear;
}


@keyframes rotateY-anim {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}